@tailwind base;
@tailwind components;
@tailwind utilities;

@import './button.css';
@import './form.css';

body {
    @apply .text-gray-900 .font-sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    @apply .text-blue-dark;
}

a:hover {
    @apply .text-blue;
}



.tab {
    @apply text-gray-600 py-4 px-6 block text-right cursor-pointer;
}

.tab:hover {
    @apply text-blue;
}

.tab:focus {
    @apply outline-none;
}

.tab-active {
    @apply text-blue border-b-2 font-medium border-blue;
}

.tab-content {
    @apply flex-1 ml-8 mb-8;
}



pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.popper {
    max-width: 450px;
}

.popper a{
    @apply .text-blue;
}

.popper ul {
    @apply .list-disc .mb-2;
}

.popper ul > li {
    @apply .ml-6;
}